@page
@using Wisebet.Authorization
@model Wisebet.Pages.Predictions.PendingModel
@{
}



<div class="container-table">
    <h1 class="heading-primary prediction">Prediction List</h1>
    <table class="performance-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Prediction[0].KickOff)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prediction[0].League)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prediction[0].HomeTeam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prediction[0].AwayTeam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prediction[0].Tip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prediction[0].Odds)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prediction[0].Stake)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prediction[0].Profit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Prediction[0].Status)
                </th>
                @if (User.IsInRole(Constants.PredictionAdminRole))
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Prediction)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.KickOff)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.League)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeTeam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AwayTeam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Odds)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stake)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Profit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    @if (User.IsInRole(Constants.PredictionAdminRole))
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">
                                <ion-icon class="meal-icon"
                                  name="create-outline"></ion-icon>
                            </a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">
                                <ion-icon class="meal-icon"
                                  name="trash-outline"></ion-icon>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>